$header-color-1:#d4eaf5;
$header-color-2:#90b3c9;
$header-textcolor-1:#052c43;
$header-textcolor-2: rgba(0, 0, 0, 0.4);
$btn-textcolor-1:#267aa4 ;
$about-color:#efedee;    
$play-circle:#cf7500;
$costumer_color:#f7f7f7;



